# These owners will be the default owners for everything in the repo.
* @honghoangsts @hoangSTS @huydosgtech @loc-nguyenthien @loido @ThinhKimVo @ledutu2 @hangnguyensaigontech @danhmaisgt @ngochuyduong
